.mainContainer {
    -fx-background-color: #242424;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-padding: 10px;
}

.secondContainer {
    -fx-background-color: #d9d9d9;
}

.secondContainer .label {
    -fx-text-fill: black;
}
